@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root {
    --cor-primaria: #F8F1F6;
    --cor-font: #000000;
    --cor-destaque: #e13747;
    --linear-gradient: linear-gradient(90deg, #983d97, #a33983, #b33473, #e13747, #fc9e4f);

    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {  
    background: var(--cor-primaria);
    box-sizing: border-box;
    color: var(--cor-font);
}
.header{
    display: flex;
}
.image_assinatura-logo {
    width: 9%;
    display: flex;
    padding-top: 4%;
    padding-left: 7%;
}
.header-menu {
    padding-top: 6%;
    padding-left: 10%;
    display: flex;
    gap: 40px;
    justify-content: start;
}
.header-menu-link {
    font-family: var(--font-secundaria);
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--cor-font);
    text-decoration: none;
}
.header-menu-link:hover{
    color: var(--cor-destaque);
}
.titulo-destaque {
    color: var(--cor-destaque);
}
.presentation {
    padding-left: 10%;
    display: flex;
    align-items: center;
}
.presentation-content {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.presentation-content-title {
    padding-top: 14%;
    font-size: 2rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-destaque);
}
.presentation-content-text {
    font-size: 1.2rem;
    font-family: var(--font-secundaria);
}
.presentation_photo{
    width: 25%;
    display: flex;
    padding-left: 13%;
    padding-top: 5%;
}
.rodape {
    position:absolute;
    top: 732px;
    width: 100%; 

}
.rodape-group {
    background: var(--linear-gradient);
    height: 0.8em;
}