@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root {
    --cor-primaria: #EDE6DB;
    --cor-font: #d19275;
    --cor-destaque: #1C1C1C;

    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-font);
}
.header{
    padding: 4% 0% 0% 15%;
}
.header-menu {
    display: flex;
    gap: 80px;
}
.header-menu-link {
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-destaque);
    text-decoration: none;
}
.header-menu-link:hover{
    color: var( --cor-font);
}
.titulo-destaque {
    color: var(--cor-destaque);
}
.presentation {
    padding: 5% 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.presentation-content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.presentation-content-title {
    font-size: 36px;
    font-family: var(--fonte-primaria)
}
.presentation-content-text {
    font-size: 24px;
    font-family: var(--font-secundaria)
}
.presentation-link-title {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}
.presentation-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
}
.presentation-link-config {
    border: 2px solid var(--cor-destaque);
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-font);
    font-family:  var(--font-secundaria)
}
.presentation-link-config:hover {
    background-color: #1D5C63;
}