@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root {
    --cor-primaria: #F8F1F6;
    --cor-font: #000000;
    --cor-destaque: #8F0B3C;
    --linear-gradient: linear-gradient(90deg, #983d97, #a33983, #b33473, #e13747, #fc9e4f);

    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {  
    box-sizing: border-box;
    background: var(--cor-primaria);
    color: var(--cor-font);
}
.header{
    display: flex;
}
.image_assinatura-logo {
    width: 9%;
    display: flex;
    padding-top: 4%;
    padding-left: 7%;
}
.header-menu {
    padding-top: 6%;
    padding-left: 10%;
    display: flex;
    gap: 40px;
    justify-content: start;
}
.header-menu-link {
    font-family: var(--font-secundaria);
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--cor-font);
    text-decoration: none;
}
.titulo-destaque {
    color: var(--cor-destaque);
}
.presentation {
    padding: 10% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.presentation-content {
    color: var(--cor-font);
    font-family: var(--font-primaria);
    font-size: 1.8rem;
    text-align: center;
    width: 75%;
    line-height: 180%;
}
.presentation-content-title {
    font-size: 2.25rem;
    align-items: center;
    font-family: var(--font-secundaria);
    font-weight: 600;
}
.presentation-content-text {
    font-size: 1.5rem;
    font-family: var(--font-secundaria)
}

.rodape {
    position:absolute;
    top: 732px;
    width: 100%; 

}
.rodape-group {
    background: var(--linear-gradient);
    height: 0.8em;
}